.ngbDropdownMenu{
    max-width: 20px !important;
}

i {
    margin-top: 10px; 
    margin-right: 10px;
    cursor: pointer;
}

.highlight:hover{
    background-color: rgb(69, 172, 212);
    color: white;   
}
