.box {
    margin-left: 20px;
    width: 250px;
    height: 150px;
    
    border-radius: 5px;
}

.users{
    background-color: #321FDB;
}

.profits {
    background-color: #3399FF;
}

.ratings {
    background-color: #F9B115;
}

canvas {
    margin-left: 10px;
}