<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-black">
                <h1>𝒦𝑀𝒞</h1>
                <p>
                    Chào mừng bạn đến với 𝒦𝑀𝒞 - điểm đến đặc biệt dành cho người yêu âm nhạc và những người đam mê nhạc cụ truyền thống của Việt Nam. Chúng tôi tự hào là một đội ngũ đam mê với sứ mệnh tôn vinh và bảo tồn di sản âm nhạc của quê hương chúng ta thông qua các nhạc cụ truyền thống độc đáo và chất lượng.
                </p>
                <p>
                    Tại 𝒦𝑀𝒞, chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng nhất, được chế tác bởi các nghệ nhân tài năng, và mang trong mình những gia trị văn hóa sâu sắc. Chúng tôi hiểu rằng âm nhạc là một phần quan trọng của cuộc sống và nói lên tâm hồn của con người. Chính vì vậy, chúng tôi đặt mục tiêu cung cấp cho bạn những công cụ tuyệt vời để bạn có thể thể hiện tình yêu và đam mê của mình thông qua âm nhạc.
                </p>
            </div>
            <div class="col-md-4">
                <img src="assets/img/music.png" width="300px" height="390px" alt="Music">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->

<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Dịch vụ</h1>
            <p>
                Những điều làm nên sự khác biệt của chúng tôi
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Giao hàng tận nơi</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Chính sách đổi trả</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Mức giá hợp lý</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">Tư vấn 24/7</h2>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
