<div class="row">
    <div class="col-6">
        <img src="https://image2.cdn.seaart.ai/2023-07-09/43281396338757/ed0e4af138d14ecf9eb52683d066ea96.png" alt="" width="500px">
    </div>
    <div class="col-6">
        <p style="font-weight: bold; font-size: 25px;">{{product.name}}</p>
        <div class="row detail">
            <div class="col-3">Giá bán</div>
            <div class="price col-9">{{ product.price | number:'1.0-0':'en-US' }}đ</div>
        </div>
        <div class="row detail">
            <div class="col-3">Tình trạng</div>
            <div *ngIf="product.amount > 0" class="col-9" style="color: green; font-weight: bold;">Còn hàng</div>
            <div *ngIf="product.amount == 0" class="col-9" style="color: rgb(211, 6, 6); font-weight: bold;">Hết hàng</div>
        </div>
        <div class="row">
            <a href="" class="btn btn-danger mt-4" style="width: 400px;">Mua ngay</a>
        </div>
    </div>
</div>


