.container {
    width: 40%;
}
.title {
    font-size: 25px !important; 
    text-align: center;   
    font-weight: bold !important;
}

label {
    font-weight: bold !important;
}

.input {
    margin: 20px 0;
}