
<div style="width: 30%; margin-left: 35%;" class="mt-4 mb-4">
    <div style="text-align: center; font-weight: bold !important; font-size: 25px !important;">{{isAdd ? "TẠO PHIẾU NHẬP" : "UPDATE CATEGORY"}}</div>
    <form [formGroup]="importOrderForm" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
            <label class="col-sm-4 col-form-label">Nhà cung cấp</label>
            <select class="form-select" formControlName="supplier">
                <option value=0>-- Chọn nhà cung cấp --</option>
                <option *ngFor="let supplier of suppliers" [ngValue]="supplier.id">{{supplier.name}}</option>
            </select>
            <div class="col-xs-12" formArrayName="products">
                <div
                  class=""
                  *ngFor="let productCtrl of productControls; let i = index"
                  [formGroupName]="i"
                  style="margin-top: 10px;">
                  <div class="">
                    <label class="col-sm-4 col-form-label">Sản phẩm</label>
                    <select id="product" class="form-select" formControlName="id" style="width: 82%;">
                        <option value=0>-- Chọn sản phẩm --</option>
                        <option *ngFor="let product of products" [ngValue]="product.id">{{product.name}}</option>
                    </select>
                  </div>
                  <div class="row mt-2">
                    <div class="col-5">
                        <label class="col-sm-4 col-form-label">Giá</label>
                        <input type="number" class="form-control" formControlName="price" min="0">
                    </div>
                    <div class="col-5">
                        <label class="col-sm-6 col-form-label">Số lượng</label>
                        <input type="number" class="form-control" formControlName="quantity" min="0">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger" (click)="onDeleteProduct(i)">X</button>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-12">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="onAddProduct()">Thêm sản phẩm</button>
                  </div>
                </div>
              </div>
            <!-- <ng-container formArrayName="ingredients">
                <div class="mt-2 mb-2 box">
                    <label class="col-sm-4 col-form-label">Sản phẩm</label>
                    <select class="form-select" name="product" [(ngModel)]="item.product" required>
                        <option value=0>-- Chọn sản phẩm -- </option>
                        <option *ngFor="let product of products" value={{product.id}}>{{product.name}}</option>
                    </select>
                    <div class="row">
                        <div class="col-6">
                            <label class="col-sm-4 col-form-label">Số lượng</label>
                            <input type="number" class="form-control" name="quantity" [(ngModel)]="item.quantity" required min="0">
                        </div>
                        <div class="col-6">
                            <label class="col-sm-2 col-form-label">Giá</label>
                            <input type="number" class="form-control" name="price" [(ngModel)]="item.price" required min="0">
                        </div>
                    </div>
                </div>
            </ng-container> -->
            <!-- <button class="mt-4 btn btn-secondary">Thêm sản phẩm</button> -->
        </div>
        <div class="mt-4">
            <button class="btn btn-primary" type="submit" style="width: 100%" [disabled]="!importOrderForm.valid">THÊM</button>    
        </div>
    </form>
</div>

  
