i {
    text-decoration: none; 
    font-weight: bold;
    cursor: pointer;
}

thead th {
    background-color: #08697f;
    color: white
}

.blur {
    cursor: pointer;
}

// .blur:hover{
//     opacity: 0.7;
// }
